div.main-container
  div.side-bar
    div Examples :
    div(routerLink="/simple" routerLinkActive="active") Simple
    div(routerLink="/topromise" routerLinkActive="active") ToPromise
    div(routerLink="/switchmap" routerLinkActive="active") SwitchMap
    div(routerLink="/combinelatest" routerLinkActive="active") CombineLatest

  router-outlet