div.de-margin-box
  div.de-margin-box
    input([(ngModel)]="inputValue[0]", placeholder="value to trigger")
    button#button-0 trigger observable 0
    span switchMap with observable (value == 2 ? 2 : 1)

  div.de-margin-box
    input([(ngModel)]="inputValue[1]", placeholder="value to trigger")
    button#button-1 trigger observable 1

  div.de-margin-box
    input([(ngModel)]="inputValue[2]", placeholder="value to trigger")
    button#button-2 trigger observable 2

  div.de-margin-box
    button((click)="subscribe()") SUBSCRIBE
    button((click)="unsubscribe()") UNSUBSCRIBE

  div.de-margin-box ((mainValueObs | async)) : {{ (mainValueObs | async) }}
  div.de-margin-box ((mainValue)) : {{ mainValue }}
  div.de-margin-box ((dependantValueObs | async)) : {{ (dependantValueObs | async) }}
  div.de-margin-box ((dependantValue)) : {{ dependantValue }}
